<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Choose Texts for Collation</title>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!--<script type ="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>-->
<script type="text/javascript">
  
  var selectedIds;
  var userName = "{{ userName }}";
  var urn = "{{ urn }}";
  var witnessData = (("{{ witnesses}}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  
  var allImages = (("{{ images }}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  
  function load()
  {
    selectedIds = [];
    
    witnessData = witnessData.replace(/u'/g, '\'');
    witnessData = witnessData.replace(/'/g, '\"');
    witnessData = JSON.parse(witnessData);
    
    allImages = allImages.replace(/u'/g, '\'');
    allImages = allImages.replace(/'/g, '\"');
    allImages = JSON.parse(allImages);
    
    //console.log(allImages);
    
    for(var i in witnessData.witnesses)
    {
      for(var j in witnessData.witnesses)
      {
        if(witnessData.witnesses[i].id == witnessData.witnesses[j].id && i != j)
        {
          witnessData.witnesses.splice(j, 1);
        }
      }
    }
    
    for(var i in witnessData.witnesses)
    {
      var checkbox = document.createElement('input');
      checkbox.type = "checkbox";
      checkbox.name = witnessData.witnesses[i].id;
      checkbox.value = witnessData.witnesses[i].id;
      checkbox.id = witnessData.witnesses[i].id;
      
      var label = document.createElement('label');
      //label.htmlFor = witnessData.witnesses[i].id;
      label.appendChild(document.createTextNode(witnessData.witnesses[i].id))
      
      document.getElementById('wrapper').appendChild(checkbox);
      document.getElementById('wrapper').appendChild(label);
      document.getElementById('wrapper').innerHTML += "<br/>"
    }
    
    for (var i in witnessData.witnesses)
    {
      document.getElementById(witnessData.witnesses[i].id).checked = true;
    }
  }
  
  function done()
  {
    
    var newWitnesses = { witnesses: [], images: [] };
    
    for(var i in witnessData.witnesses)
    {
      if(document.getElementById(witnessData.witnesses[i].id).checked == true)
      {
        newWitnesses.witnesses.push(witnessData.witnesses[i]);
      }
    }
    
    newWitnesses.urn = urn;
    newWitnesses.userName = userName;
    
    for(var i in allImages.images)
    {
      if(document.getElementById(allImages.images[i].id).checked == true)
      {
        newWitnesses.images.push(allImages.images[i]);
      }
    }
     
     $.ajax({
    url: "http://127.0.0.1:8000/regularization/postSelectedWitnesses/",
    dataType: 'json',
    type: 'POST',
    async: false,
    data: JSON.stringify(newWitnesses),
    success: function(data){
    }});
  
    window.location.href = "http://127.0.0.1:8000/regularization/chooseRuleSetsInterface/";  
  }
  
</script>
</head>

<body onload="load()">
<h1>Choose Texts for Collation</h1>
<div id="wrapper"></div><br/>
<input name="done" type="button" value="Done" onclick="done()">
</body> </html>
