<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Choose Rule Sets</title>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
  var userName = "{{ userName }}";
  var urn = "{{ urn }}";
  var returnUrl = "{{ returnUrl }}";
  var witnessData = (("{{ witnesses}}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  var ruleSetData = (("{{ ruleSetData }}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  
  var allImages = (("{{ images }}")).replace(/&(l|g|quo)t;/g, function(a,b)
  {
    return {
      l : '<',
      g : '>',
      quo : '"'
    }[b];
  });
  
  function load()
  { 
    witnessData = witnessData.replace(/u'/g, '\'');
    witnessData = witnessData.replace(/'/g, '\"');
    witnessData = JSON.parse(witnessData);
    
    allImages = allImages.replace(/u'/g, '\'');
    allImages = allImages.replace(/'/g, '\"');
    allImages = JSON.parse(allImages);
    
    ruleSetData = ruleSetData.replace(/u'/g, '\'');
    ruleSetData = ruleSetData.replace(/'/g, '\"');
    console.log(ruleSetData);
    ruleSetData = JSON.parse(ruleSetData);
    
    
    
    loadTables();
  }
  
  function loadTables()
  {
    var number = 0;
    var html = '';
    
    for(var i in ruleSetData.ruleSets)
    {
      html += createTable(ruleSetData.ruleSets[i], number);
      number++;
    }
    
    document.getElementById("wrapper").innerHTML = html;
    
  }
  
  function createTable(ruleSet, number)
  {
    var theader = '<table border="1">';
    var tbody = '';
    var tfooter = '</table>';
    var selectButton = '<input type="button" value = "Select" onclick="chooseRuleSet('+number+')"/><br/><br/>';
    
    tbody += '<font color="#A52A2A"><tr><td> RULE SET: </td> <td> Name: </td> <td> Applies To: </td> <td> Owner </td><td></td><td></td><td></td><td></td>';
    tbody += '<tr> <td> </td> <td>' +  ruleSet.name + ' </td> <td>' + ruleSet.appliesTo + '</td> <td>';
    tbody += ruleSet.userId + ' </td> <td></td><td></td><td></td><td></td></tr></font>';
    tbody += '<tr> </tr><tr><td></td><td> RULES: </td> <td> Applies To: </td> <td> Action: </td>'
    tbody += '<td> Scope: </td> <td> Token: </td> <td></td><td></td></tr>';
    
    var ruleNumber = 1;
    for (var i in ruleSet.rules)
    {
      tbody += '<tr> <td></td><td>Rule #' + ruleNumber +'</td><td>' + ruleSet.rules[i].appliesTo + '</td><td>' + ruleSet.rules[i].action;
      tbody += '</td><td>' + ruleSet.rules[i].scope + '</td><td>' + ruleSet.rules[i].token + '</td><td></td><td></td></tr>';
      tbody += '<tr> <td></td><td></td><td> MODIFICATIONS: </td> <td> Type: </td> <td> Owner </td> <td> Timestamp: </td><td></td><td></td></tr>';
      
      for (var j in ruleSet.rules[i].modifications)
      {
        tbody += '<tr><td></td><td></td><td></td><td>' + ruleSet.rules[i].modifications[j].modification_type;
        tbody += '</td><td>' + ruleSet.rules[i].modifications[j].userId + '</td><td>';
        tbody += ruleSet.rules[i].modifications[j].dateTime + '</td><td></td><td></td></tr>';
      }
      ruleNumber++;
    }
    
    tbody += '<tr> </tr><tr><td></td><td> ALIGNMENTS: </td> <td> Applies To: </td> <td> Token: </td>'
    tbody += '<td> Witness ID: </td> <td> Type: </td> <td> Direction: </td> <td> Number of Positions: </td> </tr>';
    var alignNumber = 1;
    for(var i in ruleSet.alignments)
    {
      var direction = "";
      var type = "";
      var positions = 0;
      if(ruleSet.alignments[i].isMove)
      {
        type = "Move tokens";
        if(ruleSet.alignments[i].isForward)
        {
          direction = "Forward";
        }
        else
        {
          direction = "Backward";
        }
        positions = ruleSet.alignments[i].numPos;
        
      }
      else
      {
        type = "Create phrase";
        direction = "--";
        positions = "--";
      }
      
      tbody += '<tr> <td></td><td>Alignment #' + alignNumber +'</td><td>' + ruleSet.alignments[i].appliesTo + '</td><td>' + ruleSet.alignments[i].token;
      tbody += '</td><td>' + ruleSet.alignments[i].witnessId + '</td><td>' + type + '</td><td>' + direction + '</td><td>' + positions + '</td></tr>';
      tbody += '<tr> <td></td><td></td><td> MODIFICATIONS: </td> <td> Type: </td> <td> Owner </td> <td> Timestamp: </td><td></td><td></td></tr>';
      
      for (var j in ruleSet.alignments[i].modifications)
      {
        tbody += '<tr><td></td><td></td><td></td><td>' + ruleSet.alignments[i].modifications[j].modification_type;
        tbody += '</td><td>' + ruleSet.alignments[i].modifications[j].userId + '</td><td>';
        tbody += ruleSet.alignments[i].modifications[j].dateTime + '</td><td></td><td></td></tr>';
      }
      alignNumber++;
    }
    
    return theader + tbody + tfooter + selectButton;
  }
  
  function chooseRuleSet(number)
  {
    ruleSet = ruleSetData.ruleSets[number];
    witnessData.ruleSetName = ruleSet.name;
    witnessData.ruleSet = ruleSet;
    sendJSON();
  }
  
  function create()
  {
    if(document.getElementById("name").value == "")
    {
      alert("Please enter a name!");
    }
    else
    {
      
      witnessData.ruleSetName = document.getElementById("name").value;
      witnessData.ruleSet = [];
      sendJSON();
    }
  }
  
  function sendJSON()
  {
    witnessData.userName = userName;
    witnessData.urn = urn;
    witnessData.returnUrl = returnUrl;
    
    witnessData.images = [];
    
    for(var i in allImages.images)
    {
      witnessData.images.push(allImages.images[i]);
    }
    
    $.ajax({
      url: "http://127.0.0.1:8000/regularization/postSelectedRuleSets/",
      dataType: 'json',
      type: 'POST',
      async: false,
      data: JSON.stringify(witnessData),
      success: function(data){
      }});

    window.location.href = "http://127.0.0.1:8000/regularization/loadRegularizationInterface/";
  }
</script>
</head>

<body onload="load()">
<h1>Choose Rule Sets</h1>

Name: <input name="name" type="text" id="name" >
<br/><input name="create" type="button" value="Create New" onclick="create()"><br/><br/>
<div id="wrapper"></div>

</body> </html>
